<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/df9be6f449.js" crossorigin="anonymous"></script>
    <title> Dashboard </title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/df9be6f449.css" crossorigin="anonymous">
</head>
<body>
    <nav>
        <ul>
            <li>
                <a href="#" class="intevations">
                    <img src="intevations.png" alt="">
                </a>
            </li>
            <li><a href="#">
                <i class="fas fa-home"></i>
                <span class="nav-item">Home</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-lightbulb"></i>
                <span class="nav-item">Menu Item</span>
            </a></li>
            <li><a href="#">
                <i class="fas fa-gear"></i>
                <span class="nav-item">Settings</span>
            </a></li>
        </ul>
    </nav>
</body>
</html>