<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="static/css/style.css" type="text/css">
	<title>Dashboard</title>
</head>
<body>
 {% block content %}
 <div>
<!-- 	{{Radiant}}
	 {{Awesome}}-->
 </div>
 {% endblock %}
	<!-- SIDEBAR -->
	<section id="sidebar">
        <li>
            <a href="#" class="intevations">
                <img src="../static/intevations.png" alt="">
            </a>
        </li>
		<ul class="side-menu">

			<li><a href="#" class="active"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li>
				<a href="#"><i class='bx bxs-bulb icon' ></i> Menu Item</a>
			</li>
			<li><a href="#"><i class='bx bxs-cog icon' ></i> Settings</a></li>
		</ul>
	</section>
	<!-- SIDEBAR END -->

	<!-- NAVBAR START -->
	<section id="content">
				<nav>
					<h1 class="welcome-message">Welcome!</h1>
			<div class="profile">
				<img src="https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg" alt="">
				<ul class="profile-link">
					<li><a href="#"><i class='bx bxs-user-circle icon' ></i> Profile</a></li>
					<li><a href="#"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR END -->

		<!-- MAIN START -->
		<main>
			<h1 class="title">Dashboard</h1>
			<ul class="breadcrumbs">
				<li><a href="#">Home</a></li>
				<li class="divider">/</li>
				<li><a href="#" class="active">Dashboard</a></li>
			</ul>
			<div class="data">
				<div class="content-data">
					<div class="head">
						<h3>Chart</h3>
						<div class="menu">
							<i class='bx bx-dots-horizontal-rounded icon'></i>
							<ul class="menu-link">
								<li><a href="#">Edit</a></li>
								<li><a href="#">Save</a></li>
								<li><a href="#">Remove</a></li>
							</ul>
						</div>
					</div>
					<div class="chart">
						<div id="chart"></div>
					</div>
				</div>
			</div>
			<div class="age-chart">
				<div id="age-chart"></div>
			</div>
			<div class="insurance-chart">
				<div id="insurance-chart"></div>
			</div>
			<div class="content-table">
				<div class="head">
					<h3>Population Growth</h3>
						<table>
							<Thead>
								<tr>
									<th style="width: 400px;">Month</th>
									<th style="width: 400px;">Growth</th>
									<th style="width: 400px;">Percent</th>
									<th style="width: 400px;">ETC</th>
								</tr>
							</Thead>
							<tbody>
								{% for value in values %}
									<tr>
										<td>{{value.month}}</td>
										<td>{{value.growth}}</td>
										<td>{{value.percent}}%</td>
										<td>{{value.etc}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
			</div>
		</main>
		<!-- MAIN END -->
	</section>

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript"> let test = {{ test|tojson }}</script> <!--Converts to json from python-->
	<script src="../static/js/script.js"></script>
</body>
</html>
