<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
   <form method="post" style="text-align:center;">
        <label>Username</label>
        <br>
        <input type="text" name="username"
               placeholder="Username"
               value="{{ request.form['username'] }}">
        <br>
{% block content %}
<div style="color:red;">
    {{ErrU}}
</div>

        <label>Password</label>
        <br>
       <input type="password" name="password"
               placeholder="Password"
               value="{{ request.form['password'] }}">
       <br>

<div style="color:red;">
    {{ErrP}}
</div>
{% endblock %}
       <br>
        <button type="submit">Submit</button>
    </form>

</body>
</html>