<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <title>Profile</title>
</head>
<body>
<div class="profile-page">
    <form class="form-horizontal">
        <div class="panel-avatar">
            <div class="profile-avatar">
                <img src="https://static.vecteezy.com/system/resources/thumbnails/005/545/335/small/user-sign-icon-person-symbol-human-avatar-isolated-on-white-backogrund-vector.jpg"
                     class="img-circle profile-avatar" alt="User avatar">
            </div>
            <p class="user-name">Frank Brook</p>
            <p class="user-email">Frank@email.com</p>
        </div>
        <div class="panel-user-info">
            <div class="panel-heading">
                <h4 class="panel-title">User info</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="user-type">User Type</label>
                    <select class="form-control">
                        <option selected="">Select</option>
                        <option>User Type 1</option>
                        <option>User Type 2</option>
                        <option>User Type 3</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="first-name">First Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="last-name">Last Name</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group">
                <label class="organization">Organization</label>
                <input type="text" class="form-control">
            </div>

            <div class="form-group">
                <label class="title-position">Title</label>
                <input type="text" class="form-control">
            </div>
        </div>


        <div class="panel-contact-info">
            <div class="panel-heading">
                <h4 class="panel-title">Contact info</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="control-label">Work number</label>
                    <input type="tel" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Mobile number</label>
                <input type="tel" class="form-control">
            </div>
            <div class="form-group">
                <label class="control-label">E-mail address</label>
                <input type="email" class="form-control">
            </div>
            <div class="button-container">
                <button class="cancel-button">Cancel</button>
                <button class="save-button">Save Changes</button>
            </div>
            <a href="index.html" class="return-link">Return home</a>
        </div>
    </form>
</div>
</body>